.col-md-2 {
	width:15%;
	margin-top:55px;
	height:150vh;
	padding-top:13px;
}
.col-md-6 {
	width:55%;
	margin-top:70px;
}
.col-md-4 {
	width:30%;
	margin-top:70px;
}
.collapsible-header.active {
	color:red;
	font-weight:bold;
	text-decoration:none;
	font-size:15px;
}

.collapsible-inner_header.active_inner {
	color:#ff7b5a;
	font-weight:bold;
	text-decoration:none;
	font-size:13px;
}
.pushmenu {
	z-index:10001;
	position:fixed;
	top:0;
	left:0;
	width:200px;
	height:100%;
	background-color: #FF6D5A;
	text-align: center;
	-webkit-transform:translateX(-100%);
	transform:translateX(-100%);
	-webkit-transition:-webkit-transform 0.6s ease;
	transition:transform 0.6s ease;
}

.pushmenu.open_menu {
	-webkit-transform:translateX(0);
	transform:translateX(0);
}

.list_item {
	padding-top: 8px;
	
}

.sidemenu_item {
	color:#fff;
	font-size: 15px;
	text-align: center;

}

.sidemenu_item:hover {
	color:#fff;
	padding: 1%;
}

.list_item:hover {
	background-color: #9696ff;

}

.menu_toggle {
	z-index:100;
	position:fixed;
	-webkit-transform:translate(-14px,250px);
	transform:translate(-14px,250px);
	-webkit-transition:-webkit-transform 0.6s ease;
	transition:transform 0.6s ease;
}

.menu_toggle.move {
	-webkit-transform:translate(186px,250px);
	transform:translate(186px,250px);
}

.social_icons {
	
	position:absolute;
    text-align: center;
    padding:1%;
    bottom:1vh;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;

}
.icon_list {
	display:inline;
	padding: 3px;
	font-size: 20px;
	color:#fff;
}

#settings{
	margin-top:10px;
	color: #000;
}

li{
	padding-top:6px;

}

a{
	padding-right: 10px;
}

a:focus {
	outline:none;
	color:#000;
}

.navbar-default{
	background-color: #FF6D5A;
	height: 60px;
	border-bottom: none;
	z-index:1000;
	position: fixed;
	width:100%;
}

.nav_item {
	background-color:#FF6D5A;
	height:48px; 
	display: inline;

}

.nav_item_right {
	background-color: #FF6D5A;
	padding:8px;

	text-align: center;
	height:48px;
	cursor:pointer;

}

/*left menu*/

.item:hover {
	color:#000;
}

.item {
	font-size:16px;
}

.item_level_1 {
	border-bottom:1px solid #000;
	text-align:left;
	padding:10px;
	padding-top:13px;


}

.item_level_1:hover {
	padding:10px;
	border-bottom:2px solid #000;
	color:#000;
}



.demo-card-square.mdl-card {
  width: 200px;
  height: 280px;
  padding:15px;
  border-right:1px solid #ff6d5a;
 
 

}
.demo-card-square > .mdl-card__title {
  background:
    url('images/sidetoplamp.png') no-repeat;
    background-size: 180px 200px;
}
.demo-card-square:hover {
	border:3px solid #FF6D5A;
	cursor: pointer;
}

.column {
	width:200px;
	-webkit-transform-style: preserve-3d; /* Chrome, Safari, Opera */
	transform-style: preserve-3d;
}


a {
	text-decoration:none;
	color:black;
}

a:hover {
	text-decoration:none;
	color:#7c7cff;
}

li {
	list-style: none;
}


.carousel {
	height:350px;

}

a:focus {
	text-decoration: none;
}


.sub-sub_item.sub-sub_item_decoration {
	color:#ff975a;
	font-weight:bold;
	text-decoration:none;
	font-size:12px;
}
#trending {
	height:200px;
	width:100%;
}

.trending_notifications {
	height:110px;
	width:100%;
}

.image_icon {
	height:100%;
	width:30%;
	float:left;
	
}

.trending_text {
	float:right;
	height:80%;
	width:70%;
	padding: 2px;
	font-family: Junction;
	font-size:10px;
}

.size {
	font-size:12px;
}

.left_bottom {
	margin-bottom: -10px;
	margin-left: 2px;
}

.right_bottom {
	margin-bottom: -10px;
	margin-right: 5px;
	padding-right:10px
}

small {
	font-size: 10px;
}

.linking_icons {
	margin-left: -15px;
	padding-top: 13px;
}

.side_icon {
	border-bottom: 1px solid blue;
}

#outer_wrapper {
	position: relative;
}
div#trending_lists {
	z-index: 1;
	position: absolute;
}
div#messages_lists {
	z-index: 2;
	position: absolute;
}
div#notification_lists {
	z-index: 3;
	position: absolute;
}