.pushmenu {
    z-index:99;
    position:fixed;
    top:0;
    left:0;
    width:200px;
    height:100%;
    background-color: #6262ff;
    text-align: center;
    -webkit-transform:translateX(-100%);
    transform:translateX(-100%);
    -webkit-transition:-webkit-transform 0.6s ease;
    transition:transform 0.6s ease;
}

.pushmenu.open_menu {
    -webkit-transform:translateX(0);
    transform:translateX(0);
}

.list_item {
    padding-top: 8px;

}

.sidemenu_item {
    color:#fff;
    font-size: 15px;
    text-align: center;

}

.sidemenu_item:hover {
    color:#fff;
    padding: 1%;
}

.list_item:hover {
    background-color: #9696ff;

}

.menu_toggle {
    z-index:100;
    position:fixed;
    -webkit-transform:translate(-14px,250px);
    transform:translate(-14px,250px);
    -webkit-transition:-webkit-transform 0.6s ease;
    transition:transform 0.6s ease;
}

.menu_toggle.move {
    -webkit-transform:translate(186px,250px);
    transform:translate(186px,250px);
}

.social_icons {

    position:absolute;
    text-align: center;
    padding:1%;
    bottom:1vh;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;

}
.icon_list {
    display:inline;
    padding: 3px;
    font-size: 20px;
    color:#fff;
}

#settings{
    margin-top:10px;
    color: #fff;
}

li{
    padding-top:10px;

}
a{
    padding-right: 10px;
}



a {
    text-decoration:none;
    color:black;
}



li {
    list-style: none;
}

.item.item_decoration {
    color:#6262ff;
    font-weight:bold;
    text-decoration:none;
}

.sub_item.sub_item_decoration {
    color:#7c7cff;
    font-weight:bold;
    text-decoration:none;
}

.sub-sub_item.sub-sub_item_decoration {
    color:#afafff;
    font-weight:bold;
    text-decoration:none;
}


.rotating_arrow{
    position:absolute;
    left: 80%;
    -webkit-transition:all 300ms ease-in 0s;
    -moz-transition: all 300ms ease-in 0s;
    -o-transition: all 300ms ease-in 0s;
    transition: all 300ms ease-in 0s;}

.rotating_arrow.rotated {
    color: #ACD4CE;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#trending {
    height:200px;
    width:100%;
}

.trending_notifications {
    height:110px;
    width:100%;
}

.image_icon {
    height:100%;
    width:30%;
    float:left;

}

.trending_text {
    float:right;
    height:80%;
    width:70%;
    padding: 2px;
    font-family: Junction;
    font-size:10px;
}

.size {
    font-size:12px;
}

.left_bottom {
    margin-bottom: -10px;
    margin-left: 2px;
}

.right_bottom {
    margin-bottom: -10px;
    margin-right: 5px;
    padding-right:10px
}

small {
    font-size: 10px;
}

.linking_icons {
    margin-left: -15px;
    padding-top: 13px;
}

.side_icon {
    border-bottom: 1px solid blue;
}

#outer_wrapper {
    position: relative;
}
div#trending_lists {
    z-index: 1;
    position: absolute;
}
div#messages_lists {
    z-index: 2;
    position: absolute;
}
div#notification_lists {
    z-index: 3;
    position: absolute;
}

#outer_container {
    height:500px;
    width:100%;
}

#inner_container {
    position: relative;
}

.upper {
    z-index: 5;
    position: absolute;
    height:250px;
    width:100%;
    background-color: #ebebeb;
}

.upper:hover {
    background-color: #c4c4c4;
}
.upper_left {
    position: relative;
    height:90%;
    width:35%;
    margin-top: 10px;
    margin-left: 10px;
    float:left;
    background: url('images/christmas-lights.png') no-repeat;
    background-size: 100% 73%;
    z-index:-1000;
}
.box1 {
    z-index: 10;
    position: absolute;
    background-color: #dcdcdc;
    height:55px;
    width:55px;
    bottom:2px;
    left:10px;
}
.box2 {
    z-index: 11;
    position: absolute;
    background-color: #dcdcdc;
    height:55px;
    width:55px;
    left:75px;
    bottom:2px;
}
.box3 {
    z-index: 12;
    position: absolute;
    background-color: #dcdcdc;
    height:55px;
    width:55px;
    left:140px;
    bottom:2px;
}
.alignment {
    display: inline;
}

.upper_right {
    position: relative;
    height:90%;
    width:60%;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

.lower {
    z-index: 5;
    top:250px;
    background-color: #fff;
    position: relative;
    height:400px;
    width:100%;

}

.lower_left {
    position: absolute;
    height:100%;
    width:50%;
    display: inline;
    padding-right: 30px;

}

.lower_left li {
    padding-top:0px;
}

.outer {
    position: relative;
    width:100%;

}
.inner {
    position: absolute;
    z-index: 5;
    width:60%;
    left:61px;
    bottom: -25px;
}

.lower_right {
    position: absolute;
    display: inline;
    left: 50%;
    height:100%;
    width:50%;
}

i {
    cursor:pointer;
}

.col-md-6 {
    margin-top: 6%;
}


.item_level_1 {
    border-bottom:1px solid #000;
    text-align:left;
    padding-top:1px;


}

.item_level_1:hover {
    border-bottom:2px solid #000;
    color:#000;
}